/* 公共的样式库 */
html, body {
  /* min-height: 100vh; */
  min-width: 1100px;
  height: 100%;
}
.root {
  overflow: hidden;
  height: 100%;
}
.main {
  margin: 60px 0 0px 180px;
  padding: 10px 10px;
  overflow-y: auto;
  display: flex;
  height: calc(100% - 60px);
}